# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
venv/
.venv/

# Environment variables file
.env

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Distribution / Packaging
build/
dist/
*.egg-info/
.eggs/

# Log files
*.log

# Jupyter Notebook checkpoints (if you use notebooks)
.ipynb_checkpoints/

# Pytest cache
pytest_cache/

# IDE / Editor settings
.vscode/
.idea/
*.swp

