{% extends "base.html" %}
{% block title %}Crear Usuario{% endblock %}

{% block content %}
<h2 class="mb-4">Dar de alta usuario</h2>
<div class="card shadow-sm p-4">
    <form action="{{ url_for('register_user') }}" method="POST">
        <div class="row g-3">
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input id="nombre" type="text" name="nombre" class="form-control" placeholder="Ej. Ana López" required>
            </div>
            <div class="col-md-6">
                <label for="mail" class="form-label">Correo electrónico</label>
                <input id="mail" type="email" name="mail" class="form-control" placeholder="usuario@correo.com"
                    required>
            </div>
            <div class="col-md-6">
                <label for="contrasena" class="form-label">Contraseña</label>
                <input id="contrasena" type="password" name="contrasena" class="form-control" placeholder="••••••••"
                    required>
            </div>
            <div class="col-md-6">
                <label for="rol" class="form-label">Rol</label>
                <select id="rol" name="rol" class="form-select" required>
                    <option value="" disabled selected>Selecciona un rol…</option>
                    <option value="Gerencia de Control de Calidad">Gerencia de Control de Calidad</option>
                    <option value="Gerencia de laboratorio">Gerencia de laboratorio</option>
                    <option value="Gerencia de Aseguramiento de Calidad">Gerencia de Aseguramiento de Calidad</option>
                    <option value="Gerente de Plantas">Gerente de Plantas</option>
                    <option value="Director de Operaciones">Director de Operaciones</option>
                </select>
            </div>
        </div>

        <div class="mt-4 text-end">
            <a href="{{ url_for('list_users_route') }}" class="btn btn-secondary me-2">Cancelar</a>
            <button type="submit" class="btn btn-success">Dar de alta usuario</button>
        </div>
    </form>
</div>
{% endblock %}